 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1113px;
}

.u-section-1 .u-image-1 {
  width: 623px;
  height: 252px;
  margin: 73px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1rem;
  border-style: solid;
  font-weight: 600;
  text-transform: uppercase;
  margin: 98px auto 0;
  padding: 16px 84px 17px 83px;
}

.u-section-1 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 206px;
  min-width: 94px;
  margin: 139px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 44px;
}

.u-section-1 .u-image-2 {
  width: 1066px;
  height: 395px;
  margin: 49px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 218px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 137px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 126px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 378px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.625rem;
  width: 566px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 82px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 548px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1185px;
}

.u-section-3 .u-shape-1 {
  height: 398px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -370px calc(((100% - 1140px) / 2) + 147px) 0 calc(((100% - 1140px) / 2) + 171px);
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 822px;
  margin: 28px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 199px 209px 0;
}

.u-section-3 .u-text-4 {
  margin: 91px 209px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 822px;
    margin-left: calc(((100% - 940px) / 2) + 71px);
    margin-right: calc(((100% - 940px) / 2) + 47px);
  }

  .u-section-3 .u-text-3 {
    width: 822px;
    margin-left: 109px;
    margin-right: 109px;
  }

  .u-section-3 .u-text-4 {
    width: 822px;
    margin-left: 109px;
    margin-right: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    font-size: 2.75rem;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-4 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-4 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-4 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 622px;
}

.u-section-4 .u-text-1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 81px auto 0;
}

.u-section-4 .u-image-1 {
  width: 177px;
  height: 177px;
  background-image: url("images/61f104e6c32e1dbe2a484f2e_2.gif");
  background-position: 50% 50%;
  margin: 100px auto 0 180px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: -19px auto 0 125px;
}

.u-section-4 .u-image-2 {
  width: 184px;
  height: 184px;
  background-image: url("images/61f1074797255114c317b6ea_3.gif");
  background-position: 50% 50%;
  margin: -224px 251px 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: -19px 210px 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 7px 716px 0 113px;
}

.u-section-4 .u-text-5 {
  margin: -64px 176px 60px 654px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-4 {
    margin-right: 616px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 76px;
    margin-left: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-4 {
    margin-right: 409px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 410px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-3 {
    margin-right: 158px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 229px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    margin-left: 163px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 79px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 156px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 99px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 29px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 30px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 497px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  width: 655px;
  margin: 102px auto 0;
}

.u-section-5 .u-image-1 {
  width: 155px;
  height: 155px;
  margin: 102px 124px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 165px;
  height: 165px;
  margin: -155px auto 0 102px;
}

.u-section-5 .u-image-3 {
  width: 165px;
  height: 165px;
  margin: -165px auto 0 477px;
}

.u-section-5 .u-image-4 {
  width: 165px;
  height: 165px;
  margin: -165px auto 0 280px;
}

.u-section-5 .u-image-5 {
  width: 155px;
  height: 155px;
  margin: -165px 311px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-top: 101px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -154px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -166px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 375px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 175px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 175px;
  }

  .u-section-5 .u-image-5 {
    margin-right: 185px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 379px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 85px auto 0;
}

.u-section-6 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-6 .u-social-icons-1 {
  height: 57px;
  min-height: 16px;
  width: 258px;
  min-width: 94px;
  margin: 61px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 0;
}

.u-section-6 .u-text-3 {
  margin: 30px auto 20px;
}