 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/ginwphy.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-image-1 {
  width: 66px;
  height: 98px;
  margin: -98px 406px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 199px auto 0 238px;
}

.u-section-1 .u-text-2 {
  margin: 30px 143px 0 171px;
}

.u-section-1 .u-social-icons-1 {
  height: 77px;
  min-height: 16px;
  width: 252px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-image-2 {
  width: 143px;
  height: 143px;
  background-image: url("images/gipmooooonhy.gif");
  background-position: 50% 50%;
  margin: 21px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 301px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 177px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 251px;
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -101px;
    margin-right: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 174px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -98px;
    margin-right: 98px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 177px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -95px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 63px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-image-2 {
    margin-bottom: 21px;
  }
} .u-section-2 {
  background-image: url("images/giphyspace.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 545px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-2 .u-text-1 {
  margin: 113px auto 0 39px;
}

.u-section-2 .u-text-2 {
  margin: 20px 39px 0;
}

.u-section-2 .u-image-1 {
  min-height: 409px;
  background-image: url("images/Capturedecran2022-04-02a02.52.10.png");
  background-position: 55.39% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 109px;
  height: 183px;
  margin: -107px auto 0 244px;
}

.u-section-2 .u-image-3 {
  width: 136px;
  height: 168px;
  margin: -168px auto 0 88px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 337px;
  }

  .u-section-2 .u-image-2 {
    height: 184px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 258px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -108px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: -168px;
    margin-left: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -25px;
  }

  .u-section-2 .u-image-1 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -42px;
  }

  .u-section-2 .u-image-1 {
    min-height: 366px;
  }
} .u-section-3 {
  background-image: url("images/gbackgroundiphy.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 585px;
}

.u-section-3 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 51px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-3 .u-image-1 {
  width: 125px;
  height: 106px;
  margin: -49px auto 0 26px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -49px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-top: 2px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    margin-top: 27px;
    margin-bottom: 54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}